:root {
  --bg-color: #EEE;
  --fg-color: #222;
}

/* Styling for dark theme. */
@media (prefers-color-scheme: dark) {
    /* Swap foreground and background colors. */
    :root { 
        --bg-color: #222;
        --fg-color: #EEE;
    }
    /* Increase color contrast of links. */
    a { 
        color: #00DDFF;
    }
    a:visited {
        color: #e675fd;
    }
}

body {
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 18px;
  color: var(--fg-color);
  padding: 0 10px;
  background-color: var(--bg-color);
}

blockquote {
    border-left: 2px solid;
    padding-left: 10px;
}

img {
    max-width: 100%;
}

/* :not(pre *) avoids giving codeblocks a double scrollbar;
see stefanjudis.com/snippets/how-to-select-elements-that-are-not-children-of-other-elements-in-css/ */
table:not(pre *){
    overflow-x: scroll;
    display: block;
    border-collapse: collapse; /* developer.mozilla.org/en-US/docs/Web/CSS/border-collapse */
}

table tr > :not(pre *){ /* the > avoids applying border and padding to child elements */
    border: 1px solid;
    padding: 0.4rem;
}

/* see getzola.org/documentation/content/syntax-highlighting/#styling-codeblocks */
pre {
  padding: 1rem;
  overflow-x: scroll; /* if a line is very long, the codeblock will scroll horizontally */
}

/* The line numbers already provide some kind of left/right padding... */
pre[data-linenos] {
  padding: .5rem 0;
}

/* ...but it's not enough */
pre table td {
  padding: 0 0.8rem 0 0.4rem; /* top right bottom left */
}

/* The line number cells */
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}

pre mark {
  /* If you want your highlights to take the full width. */
  display: block;
  /* The default background colour of a mark is bright yellow */
  background-color: rgba(254, 252, 232, 0.9);
}

pre table {
  width: 100%;
  border-collapse: collapse;
}

/* #site-menu is the navbar */

#site-menu ul {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 0;
  padding: 0;
}

#site-menu {
  white-space: nowrap;
  border: 2px solid;
}

#site-menu ul li {
  list-style-type: none;
  display: flex;
}

#site-menu ul li:hover {
  background-color: var(--fg-color);
}

#site-menu ul li a {
  color: var(--fg-color);
  display: flex;
  text-decoration: none;
  padding: .5em;
  align-items: center;
}

#site-menu ul li a:hover {
  color: var(--bg-color);
}

/* #site-menu ul li a:visited { */
/*   color: #fff; /* 100% white */ */
/* } */

/* #site-menu ul li[aria-current] a { */
/*   /* color: #64b5f6; /* blue300 */ */ */
/* } */

/* #site-menu ul li[aria-current] img { */
/*   filter: invert(60%) sepia(24%) saturate(997%) hue-rotate(168deg) brightness(107%) contrast(93%); */
/* } */
