<!DOCTYPE html>
<html lang="{{ config.extra.language_code | default(value='en-US') }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" href="{{ get_url(path='css/style.css', trailing_slash=false) | safe }}"/>

    <title>{{ config.title }}</title>
  </head>

  <body>
    <header>
      <nav id="site-menu">
        <ul>
          {% for section in config.extra.menu %}
          <li><a href="{{ section.url }}">{{ section.name }}</a>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <section class="section">
      <div class="container">
        {% block content %} {% endblock %}
      </div>
    </section>
  </body>

</html>
