{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>

<p class"subtitle"><strong>{{ page.date }}</strong></p>

<!-- Everything in this comments is to generate a 3-level ToC in blog posts; uncomment to use.
<hr>
{% if page.toc %}
    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                            {% if h2.children %}
                              <ul>
                                {% for h3 in h2.children %}
                                  <li>
                                    <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                                  </li>
                                  {% endfor %}
                              </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}
<hr>
-->

{{ page.content | safe }}

{% endblock content %}
