{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

  {{ section.content | safe }}

<ul>
  {% for page in section.pages %}
  <li>
      <strong>{{ page.date }}: </strong>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a> <br>

    <p>{{ page.summary | safe }}</p>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
